Header {
  background-color:  #00264B;
  
}


.header-container {
  display: flex;
  justify-content: center;
  padding: 20px 40px;
}

.header-logo-img {
  
  width: 200px;
  ;
}

.botao {
  column-gap: 15px;
  float: right;
  border-radius: 40px;
  display: flex;
  
}

 div {
  margin-left: 2em;
  gap: 10px;

 
}

input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;

}
